button[class$="call"]:hover {
	animation-duration: 3s;
	transform: perspective(50px) rotateY(-2deg);
	transform-origin: 50% 0%;
}
button[class$="action"]:hover {
	animation-duration: 3s;
	transform: perspective(50px) rotateY(2deg);
	transform-origin: 50% 50%;
}
button {
	cursor: pointer;
}

button[class$="call"] {
	width: 207px;
	height: 45px;
	color: #fc557c;
	background-color: white;
	border: 1px solid #fc557c;
}
img[class$="call"] {
	display: none;
}



button[class$="action"] {
	width: 270px;
	height: 60px;
	font-size: 18px;
	color: white;
	background-color: #ff4e2e;
	border: none;
	margin: auto 0 auto 0;
}

@media (max-width: 1024px) {
	button[class^="slider__button"] {
		width: 18px;
		height: 18px;
		border-radius: 50px;
		border: 0px;
		margin: 100px 30px 0 0;
	}
}

@media (max-width: 800px) {
	button[class$="action"] {
		height: 55px;
		font-size: 16px;
		margin: auto auto 100px auto;
	}
	button[class^="slider__button"] {
		width: 10px;
		height: 10px;
		margin: 50px 15px 0 0;
	}
	button[class$="action"] {
		margin: 50px auto 50px auto;
	}
	img[class$="call"] {
		display: block;
	}
}