@charset "UTF-8";
.footer .fixed-container {
  height: 263px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 800px) {
    .footer .fixed-container {
      height: 450px;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-evenly; } }
.footer .navigation {
  display: flex;
  flex-direction: column; }
  .footer .navigation a {
    text-decoration: none;
    color: #8993ad;
    margin-bottom: 20px; }
    .footer .navigation a:hover {
      color: #ff2f96; }
.footer .contacts {
  display: flex;
  flex-direction: column;
  height: 85px;
  width: 288px;
  justify-content: space-between; }
  .footer .contacts h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 100; }
  .footer .contacts .link_tel:before {
    content: "";
    font-family: LigatureSymbols;
    margin-right: 22px;
    font-size: 25px;
    color: transparent;
    background: linear-gradient(to top, #ff8f5a, #ff2f96);
    background-clip: text;
    -webkit-background-clip: text; }
  .footer .contacts .link_mailto:before {
    content: "";
    font-family: LigatureSymbols;
    font-size: 25px;
    margin-right: 22px;
    color: transparent;
    background: linear-gradient(to top, #ff8f5a, #ff2f96);
    background-clip: text;
    -webkit-background-clip: text; }
.footer .social {
  display: flex;
  flex-direction: column;
  width: 248px;
  height: 105px; }
  @media (max-width: 800px) {
    .footer .social .button_call {
      display: none; } }
.footer .sprite {
  margin-top: 20px; }
  .footer .sprite .link_vk {
    background-position: left top; }
  .footer .sprite .link_fb {
    background-position: -56px top; }
  .footer .sprite .link_tw {
    background-position: -108px top; }
  .footer .sprite .link_in {
    background-position: -164px top; }
