.header {
  height: 100px;
  display: flex; }
  @media (max-width: 600px) {
    .header {
      height: 55px; } }
  .header .information {
    display: flex; }
    @media (max-width: 800px) {
      .header .information {
        padding-top: 30px;
        height: 30px; } }
    @media (max-width: 600px) {
      .header .information {
        padding-top: 25px; } }
  .header .navigation {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    @media (max-width: 1024px) {
      .header .navigation {
        position: relative;
        align-items: center; } }
    @media (max-width: 800px) {
      .header .navigation {
        align-items: center;
        width: 25%; } }
    .header .navigation a {
      padding-right: 30px; }
      @media (max-width: 1024px) {
        .header .navigation a {
          display: none; } }
    .header .navigation .menu-burger, .header .navigation .menu-close {
      display: none;
      cursor: pointer; }
    @media (max-width: 1024px) {
      .header .navigation .menu-burger {
        display: block; } }
    @media (max-width: 800px) {
      .header .navigation .menu-burger {
        width: 24px;
        height: 18px; } }
    @media (max-width: 800px) {
      .header .navigation .menu-close {
        height: 18px; } }
  .header .phone-number {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 1024px) {
      .header .phone-number {
        width: 60%;
        justify-content: normal; } }
    @media (max-width: 997px) {
      .header .phone-number {
        width: 80%; } }
    @media (max-width: 800px) {
      .header .phone-number {
        width: 75%;
        justify-content: space-between; } }
    @media (max-width: 800px) {
      .header .phone-number .button_call {
        display: none; } }
    .header .phone-number .tel-link {
      margin-right: 30px;
      font-size: 25px;
      font-weight: bold; }
      @media (max-width: 997px) {
        .header .phone-number .tel-link {
          font-size: 18px; } }
      @media (max-width: 800px) {
        .header .phone-number .tel-link {
          font-size: 18px; } }
  .header .navigation-mobile {
    height: 192px;
    width: 150px;
    background-color: #ff8b5d90;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    z-index: 13; }
    .header .navigation-mobile .link_examples, .header .navigation-mobile .link_my-skills {
      border-bottom: 1px solid white; }
    .header .navigation-mobile a {
      color: white;
      width: 130px;
      font-size: 20px;
      text-decoration: none;
      padding: 0 0 20px 20px;
      margin: 20px 0 0 0; }
